 body{
    margin: 0;
    font-family: arial;
 }

 h1{
    font-size: 3vmax;
 }

 h3{
    font-size: 1.5vmax;
 }
 p{
    font-size: 1vmax;
 }

 .navbar {
    overflow: hidden;
    background-color: #8a42fd;
    display: flex;
    align-items: center;
  }
  
  .navbar img{
    padding-left: 10px;
    padding-top: 5px;
  }


  .navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #8a42fd;
    
  }
  

  .navbar a:hover {
    filter: brightness(120%);
    color: white;
    cursor: pointer;
  }
  .navbar a:active {
    filter: brightness(80%);
  }

  .navbar .search-container{
    flex-grow: 1;
  }
  .navbar .search {
    padding: 6px;
    border: none;
    margin-left: 16px;
    font-size: 17px;
  }

  .landing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: center;
  }
  
  .landing .description{
    width: 30%;
    text-align: left;
  }
  .landing .image{
    width: 50%;
  }

  .items-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card{
    background-image: linear-gradient(to bottom right, #fdbb36, #e84843);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 350px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
  }
  .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
   }

  .card-content{
    display: flex;
    align-items: center;
    width: 250px;
  }

  .card-content>div{
    line-height: 0;
    flex-grow: 1;
    max-width: 250px;
  }
  .card #like{
    color: #8a42fd;
    font-size: 25px;
  }

  .card #like:hover{
    cursor: pointer;
    filter: brightness(80%);
  }

  


  @media screen and (max-width: 600px) {
    h1{
        font-size: 7vmax;
    }

    h3{
    font-size: 4vmax;
    }
    p{
    font-size: 3vmax;
    }
    .navbar{
        flex-direction: column;
    }

    .navbar .search-container{
        width: 100%;
    }
    .navbar .search {
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .navbar .search {
      border: 1px solid #ccc;
    }

    .landing{
        flex-direction: column-reverse;
        width: 100%;
        overflow: hidden;
    }

    .landing .image{
        width: 100%;
    }
    .landing .img img{
        width: 100%;
    }
    .landing .description{
        width: 50%;
      }
  }